{% extends 'Libro/Admins/baseAdmin.html' %}

{% load static %}

{% block title %}Administracion{% endblock %}
{% block contenido %}


    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'core/img/admin.png' %}"
                                    class="img-fluid rounded-circle avatar mr-2" />
                                {{ user.username | upper }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'admin' %}">Mi perfil</a>
                                <a class="dropdown-item" href="#">Mensajes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logoutAdmin' %}">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="content" class="bg-grey w-100">

            <section class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Bienvenido {{user.tipo_user}} {{ user.nombres }} {{user.apellidos}} </h1>
                            <p class="lead text-muted">A Mi Libro</p>
                        </div>
                    </div>
                </div>
            </section>

           
            


        </div>
    </div>
</div>
{% endblock %} 