<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <link rel="icon" href="{% static '/core/img/MILIBRO.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/core/css/style.css' %}">
    

    {% block css %}  
    {% endblock %} 



    <title>{% block title %}{% endblock %} | Mi libro</title>
    
    
    
    
    

</head>
<body >
    <div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold">Mi Libro</h4>
            </div><i class="icon ion-md-done"></i>
            <div class="menu">
                <a href="{% url 'agregar_Alumno' %}" class="d-block text-light p-3"><i
                        class="icon ion-md-people mr-2 lead"></i>Registro de Alumnos</a>
                <a href="{% url 'agregar_Profesor' %}" class="d-block text-light p-3"><i
                        class="icon ion-md-school mr-2 lead"></i>Registro de Docentes </a>
                <a href="{% url 'agregar_Apoderado' %}" class="d-block text-light p-3"><i
                        class="icon ion-md-clipboard mr-2 lead"></i>Registro de Apoderados</a>
               <!--         
                <a href="{% url 'agregarCurso' %}" class="d-block text-light p-3"><i
                        class="icon ion-md-paper mr-2 lead"></i>Registro de Cursos</a>-->
                <a href="{% url 'usuarios:listar_usuarios'%}" class="d-block text-light p-3"><i
                        class="icon ion-md-paper mr-2 lead"></i>Registro de Usuario</a>               
            </div>
        </div>
    {% block contenido %}
    {% endblock %}

    </div>

    

    <script src="{% static 'core/js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}

</body>
</html>