{% extends 'Libro/base.html' %}

{% load static %}

{% block title %}Detalle Aula Comun{% endblock %}
{% block contenido %}

<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'core/img/proff.png' %}" class="img-fluid rounded-circle avatar mr-2" />
                            {{ user.username | upper }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'perfil' %}">Mi perfil</a>
                                    <a class="dropdown-item" href="#">Mensajes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logoutCE' %}">Cerrar sesión</a>
                                </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content" class="bg-grey w-100">

        <section class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <h5 class="font-weight-bold mb-0">Fecha: {{aulacomun.fecha_aula}} </h5>
                        
                    </div>
                    <div>
                        <a href="{% url 'listAulaComun' %}" class="btn btn-outline-secondary btn-sm">Volver</a>
                        
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div id="content" class="bg-grey w-100">
                <section>
                    <div class="container">
                        <div class="flex flex-col" >
                            <div class="-m-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                        <h1>
                                            <span >
                                                Asunto: 
                                            </span>
                                            <span >
                                                {{aulacomun.asuntoAulaComun}} 
                                            </span>
                                        </h1>
                                        <hr>
                                        <div>
                                            <h5>Contenido:</h5>
                                            <p>{{aulacomun.registroAula}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>   
            </div>
    </div>
</div>

{% endblock %}